.credentials{
    min-height: 100vh;
    background-color: var(--off-white);
    background-image: repeating-linear-gradient(
    90deg,
    color-mix(in srgb, var(--gray) 20%, transparent) 0px,
    color-mix(in srgb, var(--gray) 20%, transparent) 1px,
    transparent 1px,
    transparent 300px
    );
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2vw;
    padding-left: 30px;
}
.credentials h2{
    font-family: var(--font-primary);
    color: var(--black);
    font-size: clamp(2.2rem, 4.5vw, 4.5rem);
    font-weight: 750;
    letter-spacing: 2px;
    max-width: 1100px;
}
.credentials hr{
    width: 95%;
    background-color: var(--black);
}
.credentials h3{
    font-family: var(--font-primary);
    color: var(--black);
    font-size: clamp(1.4rem, 2.3vw, 2.3rem);
    font-weight: 750;
    letter-spacing: 2px;
    
}
.credentials p{
    font-family: var(--font-secondary);
    font-size: clamp(0.7rem, 1vw, 1rem);
    color: var(--black);
    font-weight: 600;
    max-width: 500px;
}
.credentials .div{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding-right: 30px;
}
.credentials .div p{
    margin-left: auto;
}
